<ion-row>
  <ion-col><center>PPLNS Fee</center></ion-col>
  <ion-col><center>{{ pool.pplnsFee }}%</center></ion-col>
</ion-row>
<ion-row>
  <ion-col><center>Solo Fee</center></ion-col>
  <ion-col><center> {{ pool.soloFee }}%</center></ion-col>
</ion-row>
<ion-row>
  <ion-col><center>BitCoin Fee</center></ion-col>
  <ion-col><center> {{ pool.btcFee }}%</center></ion-col>
</ion-row>
<ion-row>
  <ion-col><center>Minimum Wallet Payout</center></ion-col>
  <ion-col><center>{{ pool.minWalletPayment | xmr }} XMR</center></ion-col>
</ion-row>
<ion-row>
  <ion-col><center>Minimum Bitcoin Payout</center></ion-col>
  <ion-col><center>{{ pool.minBtcPayout | xmr }} XMR</center></ion-col>
</ion-row>
<ion-row>
  <ion-col><center>Minimum Exchange Payout</center></ion-col>
  <ion-col><center>{{ pool.minExchangePayout | xmr }} XMR</center></ion-col>
</ion-row>
<ion-row>
  <ion-col><center>Block Maturity Depth</center></ion-col>
  <ion-col><center>{{ pool.maturityDepth }}</center></ion-col>
</ion-row>
<ion-row>
  <ion-col><center>Minimum Denomination</center></ion-col>
  <ion-col><center>{{ pool.minDenom }}</center></ion-col>
</ion-row>