<nav-bar [page]="page"></nav-bar>
<ion-content>
  <ion-segment [(ngModel)]="segment" color="primary" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="XMR">
      Monero
    </ion-segment-button>
    <ion-segment-button value="AEON">
      Aeon
    </ion-segment-button>
    <ion-segment-button value="ETN">
      Electroneum
    </ion-segment-button>
    <ion-segment-button value="email">
      Another Pool
    </ion-segment-button>
  </ion-segment>
  <ion-grid>
    <ion-row>
      <ion-col>
        <currency-chart [color]="'bluegrey'" [title]="'XMR Value'" [coin]="coin" [socket]="true" [fiats]="fiats"></currency-chart>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-sm-6 col-lg-6 col-xxl-4 col-xxxl-3>
        <ion-card color="primary">
          <ion-card-header>
            Monero's Network Hash Rate
          </ion-card-header>
          <ion-card-content>
            <div class="card-stat">
              {{ networkStats.difficulty | difficultyToHash | hash }}
            </div>
            <card-chart *ngIf="networkHistory" [data]="networkHistory" [selector]="'difficulty'" [isHashRate]="true"></card-chart>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-12 col-sm-6 col-lg-6 col-xxl-4 col-xxxl-3>
        <ion-card color="primary">
          <ion-card-header>
            Pool Hash Rate
          </ion-card-header>
          <ion-card-content>
            <div class="card-stat">
              {{ poolStats.hashRate | hash }}
            </div>
            <card-chart *ngIf="poolHistory" [data]="poolHistory" [selector]="'hashRate'" [isHashRate]="true"></card-chart>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-12 col-sm-6 col-lg-6 col-xxl-4 col-xxxl-3>
        <ion-card color="secondary">
          <ion-card-header>
            Miners Connected
          </ion-card-header>
          <ion-card-content>
            <div class="card-stat">
              {{ poolStats.miners }}
            </div>
            <card-chart *ngIf="poolHistory" [data]="poolHistory" [selector]="'miners'"></card-chart>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-md-6 col-lg-6 col-xl-6>
        <ion-card>
          <ion-card-header>
            Pool Stats
          </ion-card-header>
          <ion-card-content>
            <pool-stats-table *ngIf="poolStats && firstBlock" [poolStats]="poolStats" [firstBlock]="firstBlock"></pool-stats-table>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-12 col-md-6 col-lg-6 col-xl-6>
        <ion-card card="primary">
          <ion-card-header>
            Pool Configuration
          </ion-card-header>
          <ion-card-content>
            <pool-config-table *ngIf="poolConfigs" [poolConfigs]="poolConfigs"></pool-config-table>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-12 col-md-6 col-lg-12 col-xl-6>
        <ion-card>
          <ion-card-header>
            Network Stats
          </ion-card-header>
          <ion-card-content>
            <network-stats-table *ngIf="networkStats" [networkStats]="networkStats"></network-stats-table>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>