<ion-row>
  <ion-col>Pool Type</ion-col>
  <ion-col>PPLNS</ion-col>
</ion-row>
<ion-row>
  <ion-col>Total Hashes Accepted</ion-col>
  <ion-col></ion-col>
</ion-row>
<ion-row>
  <ion-col>Height</ion-col>
  <ion-col></ion-col>
</ion-row>
<ion-row>
  <ion-col>Last Block</ion-col>
  <ion-col></ion-col>
</ion-row>
<ion-row>
  <ion-col>Block Reward</ion-col>
  <ion-col></ion-col>
</ion-row>
<ion-row>
  <ion-col>Blocks Found</ion-col>
  <ion-col>{{ pool.totalBlocksFound }}</ion-col>
</ion-row>
<ion-row>
  <ion-col>Miners Paid</ion-col>
  <ion-col>{{ pool.totalMinersPaid }}</ion-col>
</ion-row>
<ion-row>
  <ion-col>Payments Sent</ion-col>
  <ion-col>{{ pool.totalPayments }}</ion-col>
</ion-row>