<nav-bar [page]="page"></nav-bar>
<ion-content>
    <ion-segment [(ngModel)]="segment" color="primary" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="global">
            Global
        </ion-segment-button>
        <ion-segment-button value="pplns">
            PPLNS
        </ion-segment-button>
        <ion-segment-button value="solo">
            Solo
        </ion-segment-button>
    </ion-segment>
    <ion-grid padding *ngIf="ports">
        <ion-row>
            <ion-col class="icon-column no-background">
            </ion-col>
            <ion-col>
                <center>Port</center>
            </ion-col>
            <ion-col>
                <center>Difficulty</center>
            </ion-col>
            <ion-col>
                <center>Description</center>
            </ion-col>
            <ion-col>
                <center>Type</center>
            </ion-col>
            <ion-col>
                <center>Hidden</center>
            </ion-col>
            <ion-col>
                <center>SSL</center>
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let port of ports">
            <ion-col class="icon-column no-background">
                <center class="edit-port" (click)="editSetting(port)"><ion-icon name="build"></ion-icon></center>
            </ion-col>
            <ion-col>
                <center>{{ port.port }}</center>
            </ion-col>
            <ion-col>
                <center>{{ port.diff }}</center>
            </ion-col>
            <ion-col>
                <center>{{ port.desc }}</center>
            </ion-col>
            <ion-col>
                <center>{{ port.portType }}</center>
            </ion-col>
            <ion-col>
                <center>{{ port.hidden }}</center>
            </ion-col>
            <ion-col>
                <center>{{ port.ssl }}</center>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>