edit-setting {
    ion-card {
        height: 100%;
        ion-card-header {
            padding-top: 2.4rem !important;
            font-size: 2.4rem !important;
        }
    }
    .modal-close {
        position: absolute;
        right: 14px;
        top: 14px;
        button {
            transition: all 0.333s ease-in-out;
            background-color: white;
            font-size: 2.4rem;
        }
        button:hover {
            color: rgba(0,0,0,0.67);
        }
        button:active {
            color: rgba(0,0,0,0.44);
        }
    }
}
